<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/form.css">
    
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('../includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>
        <form action="/access" method="post" class="form">
            <h2 id="title">INGRESA!</h2>
            <!-- EMAIL -->
            <fieldset class="inputData">
                <label class="floatingLabel" for="email">Email</label>
                <input 
                    type="email" 
                    name="email" 
                    autofocus
                    class= '<%= locals.errors && errors.email ? 'inputError' : null %>'
                    value= '<%= locals.oldData ? oldData.email : null%>' 
                />
            </fieldset>
            <% if (locals.errors && errors.email) { %>
                <p class="feedbackError">
                    <%= errors.email.msg %> 
                </p>
            <% } %>

            <!-- PASSWORD -->
            <fieldset class="inputData">
                <label class="floatingLabel" for="password">Contraseña</label>
                <input 
                    type="password" 
                    name="password" 
                    class= '<%= locals.errors && errors.email ? 'inputError' : null %>'
                />
            </fieldset>
            <% if (locals.errors && errors.password) { %>
                <p class="feedbackError">
                    <%= errors.password.msg %> 
                </p>
            <% } %>

            <!-- OPTIONS -->
            <fieldset id="checkbox">
                <input type= "checkbox" name="remember" value="true">
                <label for="remember">Recordame!</label>
            </fieldset>
            <ul class="list">
                <li><a href = '/login'>Olvide mi contraseña</a></li>
                <li><a href = '/register'>No tenes cuenta? Registrate!</a></li>
            </ul>

            <!-- BUTTON -->
            <button type="submit" class="button">INGRESAR</button>
        </form>
    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('../includes/footer') %>
</body>
</html>