<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('../includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>

        <form action = "/register" method = "post" class = "form" enctype="multipart/form-data">

            <h2 id="title">Completa tus datos!</h2>

            <!-- FIRSTNAME -->
            <fieldset class="inputData">
                <label class="floatingLabel" for="firstName">Nombre</label>
                <input 
                    type='text' 
                    name="firstName" 
                    autofocus
                    class= '<%= locals.errors && errors.firstName ? 'inputError' : null %>'
                    value= '<%= locals.oldData ? oldData.firstName : null %>' 
                >
            </fieldset>
            <% if (locals.errors && errors.firstName) { %>
                <p class="feedbackError">
                    <%= errors.firstName.msg %> 
                </p>
            <% } %>

            <!-- LASTNAME -->
            <fieldset class="inputData">
                <label class="floatingLabel" for="lastName">Apellido</label>
                <input 
                    type='text' 
                    name="lastName"
                    class= '<%= locals.errors && errors.lastName ? 'inputError' : null %>'
                    value= '<%= locals.oldData ? oldData.lastName : null %>' 
                >
            </fieldset>
            <% if (locals.errors && errors.lastName) { %>
                <p class="feedbackError">
                    <%= errors.lastName.msg %> 
                </p>
            <% } %>

            <!-- EMAIL -->
            <fieldset class="inputData">
                <label class="floatingLabel" for="email">E-mail</label>
                <input 
                    type='email' 
                    name="email" 
                    class= '<%= locals.errors && errors.email ? 'inputError' : null %>'
                    value= '<%= locals.oldData ? oldData.email : null%>' 
                >
            </fieldset>
            <% if (locals.errors && errors.email) { %>
                <p class="feedbackError">
                    <%= errors.email.msg %> 
                </p>
            <% } %>

            <!-- IMAGE -->
            <fieldset id="loadPicture">
                <label for="image">Fotos:</label>
                <input 
                    type='file' 
                    name="image"  
                    class= '<%= locals.errors && errors.image ? 'inputError' : null %>'
                    value= '<%= locals.oldData ? oldData.image : null%>' 
                >
            </fieldset>
            <% if (locals.errors && errors.image) { %>
                <p class="feedbackError">
                    <%= errors.image.msg %> 
                </p>
            <% } %>

            <!-- PASSWORD -->
            <fieldset class="inputData">
                <label class="floatingLabel" for="password">Contraseña</label>
                <input 
                    type='password' 
                    name="password" 
                    class= '<%= locals.errors && errors.password ? 'inputError' : null %>'
                    value= '<%= locals.oldData ? oldData.password : null%>' 
                >
            </fieldset>
            <% if (locals.errors && errors.password) { %>
                <p class="feedbackError">
                    <%= errors.password.msg %> 
                </p>
            <% } %>

            <!-- PASSWORD CONFIRM -->
            <fieldset class="inputData">
                <label class="floatingLabel" for="passwordConfirm">Reingrese la contraseña</label>
                <input 
                    type='password' 
                    name="passwordConfirm" 
                    class= '<%= locals.errors && errors.passwordConfirm ? 'inputError' : null %>'
                    value= '<%= locals.oldData ? oldData.passwordConfirm : null%>' 
                >
            </fieldset>
            <% if (locals.errors && errors.passwordConfirm) { %>
                <p class="feedbackError">
                    <%= errors.passwordConfirm.msg %> 
                </p>
            <% } %>

            <!-- USER TYPE -->
            <fieldset class="">
                <label for="type">Tipo de usuario:</label>
                <select name="type">
                    <% for( let i = 0; i < type.length; i++ ) { %>
                        <option value="<%= type[i].id_user_type %>">
                            <%= type[i].type  %> 
                        </option>
                    <% } %>
                </select>
            </fieldset>

            <fieldset>
                <button type="submit" name="register" class="button">Registrate!</button>
            </fieldset>

        </form>
    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('../includes/footer') %>

</body>
</html>