<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/userProfile.css">
    
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('../includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>

        <section class="userAvatar">

            <h1 id="title">¡Hola <%= user.firstName %>!</h1>

            <figure><img class='avatarProfile' src="/<%= user.image%>" alt=""></figure>

        </section>

        <section class="userData">

            <h2>Mis datos:</h2>

            <p>Nombre y apellido:</p>
            <p class="data">    <%= user.firstName %> <%= user.lastName %></p>
            <p>E-mail:</p>
            <p class="data">    <%= user.email %></p>
            
        </section>

        <section class="userOption">

            <h2>Opciones:</h2>

            <ul class="userButtons">
                    <form action="/userEdit/<%= user.id %>?_method=GET" method="get">
                        <li><button href='/userEdit/<%= user.id %>'><i class="fas fa-edit iconAdmin"></i> Editar Perfil</button></li>
                    </form>
                    <a href='#deleteOption'>
                        <li><button type="submit"><i class="fas fa-trash iconAdmin"></i> Borrar Perfil</button></li>
                    </a>
                    <% if(isLogged && user.type == "admin"){ %> 
                    <a href='/productCreate'> 
                        <li><i class="fas fa-upload iconAdmin"></i> Cargá un nuevo producto!</li>
                    </a>
                    <a href='/users'>
                        <li><i class="fas fa-user-plus iconAdmin"></i> Editá a un usuario</li>
                    </a>
                    <% } %>  
            </ul>

        </section>
        
        <section id="deleteOption">
            <article id="deleteProfile">
                <p>¿Queres borrar tu perfil?</p>
                <ul>
                    <form action="/userDelete/<%= user.id %>?_method=DELETE" method="post">
                        <li><button type="submit">Si</button></li>
                    </form>
                    <a href="">
                        <li><button type="submit">No</button></li>
                    </a>
                </ul>
            </article>
        </section>

    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('../includes/footer') %>

</body>
</html>