<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('../includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>
        <section class="boxFirst">
            <p><a href='/'>Inicio</a> <a href='/users'>/ Usuarios</a>
                <% if(id) {%> 
                    <a href='/users/<%= id %>'>/ <%= id %></a>
                <% } %> 
            </p> 
        </section>

        <h2>Usuarios registrados</h2>

        <section class="generalArticles">
            <% if(list.length > 0){ %>
                <% list.forEach(user => { %>

                <article class="articleMain">
                    <a href='/userProfile/<%= user.id%>'>
                        <figure><img class='image' src="<%= user.image%>" alt=""></figure>
                        <section class="box-article">
                            <p class="price">ID: <%= user.id%></p>
                            <p class="name">Nombre: <%= user.firstName %></p>
                            <p class="name">Apellido: <%= user.lastName %></p>
                            <p class="name">Tipo: <%= user.type %></p>
                        </section>
                    </a>
                </article>

                <% }) %>
            <% }%>
                
        </section>

        

    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('../includes/footer') %>

</body>
</html>