<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/userProfile.css">
    <link rel="stylesheet" href="/css/userEdit.css">
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('../includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>

        <form action="/userSave/<%= user.id %>?_method=PUT" method="post" enctype = "multipart/form-data" class = "form">
            <section class="userAvatar">

                <h1 id="title">Edición de usuarios</h1>

                <!-- IMAGE -->
                <figure><img class='avatarProfile' src="/<%=user.image%>"  alt=""></figure>

                <fieldset id="loadPicture">
                    <label for="image">Avatar:</label>
                    <input 
                        type='file' 
                        name="image"  
                        class= '<%= locals.errors && errors.image ? 'inputError' : null %>'
                        value= '<%= locals.oldData ? oldData.image : null%>' 
                    >
                </fieldset>
                <% if (locals.errors && errors.image) { %>
                    <p class="feedbackError">
                        <%= errors.image.msg %> 
                    </p>
                <% } %>
            
            </section>

            <section class="userData">

                <h2>Mis datos:</h2>

                <!-- FIRSTNAME -->
                <fieldset class="inputData">
                    <label class="" for="firstName">Nombre:</label>
                    
                    <input 
                        type='text' 
                        name="firstName" 
                        autofocus
                        class= '<%= locals.errors && errors.firstName ? 'inputError' : null %>'
                        value= '<%= locals.oldData ? oldData.firstName : user.firstName %>'
                    >
                    
                </fieldset>
                <% if (locals.errors && errors.firstName) { %>
                    <p class="feedbackError">
                        <%= errors.firstName.msg %> 
                    </p>
                <% } %>


                <!-- LASTNAME -->
                <fieldset class="inputData">
                    <label class="" for="lastName">Apellido:</label>

                    <input 
                        type='text' 
                        name="lastName"
                        class= '<%= locals.errors && errors.lastName ? 'inputError' : null %>'
                        value= '<%= locals.oldData ? oldData.lastName : user.lastName %>' 
                    >
                    
                </fieldset>
                <% if (locals.errors && errors.lastName) { %>
                    <p class="feedbackError">
                        <%= errors.lastName.msg %> 
                    </p>
                <% } %>


                <!-- EMAIL -->
                <fieldset class="inputData">
                    <label class="" for="email">e-mail:</label>

                    <input 
                        type='email' 
                        name="email" 
                        class= '<%= locals.errors && errors.email ? 'inputError' : null %>'
                        value= '<%= locals.oldData ? oldData.email :  user.email %>' 
                    >
                    
                </fieldset>
                <% if (locals.errors && errors.email) { %>
                    <p class="feedbackError">
                        <%= errors.email.msg %> 
                    </p>
                <% } %>


                <% if(isLogged && user.type == "admin"){ %> 
                    <fieldset class="">
                        <label for="categoria">Tipo de usuario:</label>
                        <select name='type'>
                            <% if (user.type=='admin') { %>
                                <option value="admin" selected>ADMIN</option>
                                <option value="normal">NORMAL</option>
                            <% } %>
                            <% if (user.type=='normal') { %>
                                <option value="admin">ADMIN</option>
                                <option value="normal" selected>NORMAL</option>
                            <% } %>
                        </select>
                    </fieldset>
                <% } %> 


                <!-- PASSWORD -->
                <fieldset class="inputData">
                    <label class="" for="password">Contraseña:</label>

                    <input 
                        type='password' 
                        name="password" 
                        class= '<%= locals.errors && errors.password ? 'inputError' : null %>'
                        value='<%= locals.oldData ? oldData.password : null%>'
                    >
                    
                </fieldset>
                <% if (locals.errors && errors.password) { %>
                    <p class="feedbackError">
                        <%= errors.password.msg %> 
                    </p>
                <% } %>


                <!-- PASSWORD CONFIRM -->
                <fieldset class="inputData">
                    <label class="" for="passwordConfirm">Reingrese la contraseña:</label>

                    <input 
                        type='password' 
                        name="passwordConfirm" 
                        class= '<%= locals.errors && errors.passwordConfirm ? 'inputError' : null %>'
                        value='<%= locals.oldData ? oldData.passwordConfirm : null%>' 
                    >
                    
                </fieldset>
                <% if (locals.errors && errors.passwordConfirm) { %>
                    <p class="feedbackError">
                        <%= errors.passwordConfirm.msg %> 
                    </p>
                <% } %>

            </section>

            <section class="userOption">
                <ul class="userButtons">
                    <li><button type="submit" name="save">GUARDAR</button></li>
                    <a href='/userProfile/<%= user.id  %> '> 
                        <li>DESCARTAR</li>
                    </a>

                </ul>
                
            </section>
            
    
        </form>
    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('../includes/footer') %>

</body>
</html>