<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('../includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>
        <form action="/userSave/<%= user.id %>?_method=PUT" method="post" enctype = "multipart/form-data" class = "form">
            <h2 id="title">Edición de usuarios</h2>

            <fieldset class="">
                <input type=text name="firstName" required value="<%= user.firstName %>" placeholder="Nombre">
            </fieldset>

            <fieldset class="">
                <input type=text name="lastName" required value="<%= user.lastName %>" placeholder="Apellido">
            </fieldset>

            <fieldset class="">
                <input type=email name="email" required value="<%= user.email %>" placeholder = 'E-mail'>
            </fieldset>

            <figure><img class='imageDetail' src="/<%=user.image%>"  alt=""></figure>
            <fieldset id="loadPicture">
                <label for="fotos">Foto:</label>
                <input type="file" name="image" accept=".png, .jpg, .jpeg">
            </fieldset>

            <% if(isLogged && user.type == "admin"){ %> 
                <fieldset class="">
                    <label for="categoria">Tipo de usuario:</label>
                    <select name='type'>
                        <% if (user.type=='admin') { %>
                            <option value="admin" selected>ADMIN</option>
                            <option value="normal">NORMAL</option>
                        <% } %>
                        <% if (user.type=='normal') { %>
                            <option value="admin">ADMIN</option>
                            <option value="normal" selected>NORMAL</option>
                        <% } %>
                    </select>
                </fieldset>
            <% } %> 

            <fieldset class="">
                <input type='password' name="password" required minlength="10" value="<%= user.password %>" placeholder="Contraseña" >
            </fieldset>

                <button type="submit" name="save" class="button">GUARDAR</button>
        </form>
    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('../includes/footer') %>

</body>
</html>