<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head') %>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('./includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>
        
        <a href='/productDetail'><img class='banner' src="/img/designs/bannerKit.jpg" alt="Banner Kit"></a>

        <!-- <section class="generalArticles">
            
            <article class="articleMain">
                <a href='/productDetail/1'>
                    <figure>
                        <img class='image' src="/img/products/samples/plantaInterior1.jpg" alt="plantaInterior1">
                    </figure>
                    <section class="box-article">
                        <i id='iconCart' class="fas fa-shopping-cart"></i>
                        <p class="price">$6.000</p>
                        <p class="name">ANTHURIUM X MACROLOBIUM</p>
                        <p class="quotes">3 cuotas sin interés de $2.000</p>
                    </section>
                </a>
            </article>

            <article class="articleMain">
                <a href='/productDetail/2'>
                    <figure>
                        <img class='image' src="/img/products/samples/plantaInteriorPotus.jpg" alt="plantaPotus">
                    </figure>
                    <section class="box-article">
                        <i id='iconCart' class="fas fa-shopping-cart"></i>
                        <p class="price">$1.500</p>
                        <p class="name">POTUS MARBLE QUEEN</p>
                        <p class="quotes">3 cuotas sin interés de $500</p>
                    </section>
                </a>
            </article>

            <article class="articleMain">
                <a href='/productDetail/3'>
                    <figure>
                        <img class='image' src="/img/products/samples/macetaCilindro.jpg" alt="macetaCilindro">
                    </figure>
                    <section class="box-article">
                        <i id='iconCart' class="fas fa-shopping-cart"></i>
                        <p class="price">$600</p>
                        <p class="name">MACETA CILINDRO CEMENTO</p>
                        <p class="quotes">3 cuotas sin interés de $200</p>
                    </section>
                </a>
            </article>

            <article class="articleMain">
                <a href='/productDetail/4'>
                    <figure>
                        <img class='image' src="/img/products/samples/macetaTerracota.jpg" alt="macetaTerracota">
                    </figure>
                    <section class="box-article">
                        <i id='iconCart' class="fas fa-shopping-cart"></i>
                        <p class="price">$300</p>
                        <p class="name">MACETA TERRACOTA</p>
                        <p class="quotes">3 cuotas sin interés de $100</p>
                    </section>
                </a>
            </article>
    
            <article class="articleMain">
                <a href='/productDetail/5'>
                    <figure>
                        <img class='image' src="/img/products/samples/insumoFertilizante.jpg" alt="insumoFertilizante">
                    </figure>
                    <section class="box-article">
                        <i id='iconCart' class="fas fa-shopping-cart"></i>
                        <p class="price">$450</p>
                        <p class="name">FERTILIZANTE GENERAL</p>
                        <p class="quotes">3 cuotas sin interés de $150</p>
                    </section>
                </a>
            </article>

            <article class="articleMain">
                <a href='/productDetail/6'>
                    <figure>
                        <img class='image' src="/img/products/samples/insumoJabon.jpg" alt="insumoJabon">
                    </figure>
                    <section class="box-article">
                        <i id='iconCart' class="fas fa-shopping-cart"></i>
                        <p class="price">$450</p>
                        <p class="name">JABÓN POTÁSICO PURO</p>
                        <p class="quotes">3 cuotas sin interés de $150</p>
                    </section>
                </a>
            </article>

            <article class="articleMain">
                <a href='/productDetail/7'>
                    <figure>
                        <img class='image' src="/img/products/samples/herramientaPala.jpg" alt="herramientaPala">
                    </figure>
                    <section class="box-article">
                        <i id='iconCart' class="fas fa-shopping-cart"></i>
                        <p class="price">$450</p>
                        <p class="name">PALITA PLÁSTICA ANCHA</p>
                        <p class="quotes">3 cuotas sin interés de $150</p>
                    </section>
                </a>
            </article>

            <article class="articleMain">
                <a href='/productDetail/8'>
                    <figure>
                        <img class='image' src="/img/products/samples/herramientaPulverizador.jpg" alt="herramientaPulverizador">
                    </figure>
                    <section class="box-article">
                        <i id='iconCart' class="fas fa-shopping-cart"></i>
                        <p class="price">$2.550</p>
                        <p class="name">PULVERIZADOR GIBER</p>
                        <p class="quotes">3 cuotas sin interés de $850</p>
                    </section>
                </a>
            </article>
        
        </section> -->
            
        
        <section class="generalArticles">
            <% if(list.length > 0){ %>
                <% list.forEach(product => { %>

                <article class="articleMain">
                    <a href='/productDetail/<%= product.id_product %>'>
                        <figure><img class='image' src="<%= product.image%>" alt=""></figure>
                        <section class="box-article">
                            <form action="/shopCart/add" method="POST">
                                <input type="hidden" name="product" value="<%= product.id_product %>">
                                <input type="hidden" name="user" value="<%= user.id_user %>">
                                <button type="submit"><i id='iconCart' class="fas fa-shopping-cart"></i></button>
                            </form>
                            <p class="price">$<%= product.price %></p>
                            <p class="name"><%= product.name %></p>
                            <p class="quotes">3 cuotas sin interés de $<%= Math.round(product.price/3) %></p>
                        </section>
                    </a>
                </article>

                <% }) %>
                <% }else{ %>
                    <h2>No se encontraron articulos que contengan "<%= locals.keyword ? keywords : null %>"</h2>
            <% } %>

        </section>

    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('./includes/footer') %>

</body>
</html>