<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('../includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>
        <form action="/saveEdition/<%= product.id_product %>?_method=PUT" method="post" enctype = "multipart/form-data" class = "form">
            
            <h2 id="title">Edición de productos</h2>

            <!-- NAME -->
            <fieldset class="">
                <input 
                    type=text 
                    name="name" 
                    autofocus
                    required 
                    value="<%= product.name %>">
            </fieldset>

            <!-- DESCRIPTION -->
            <fieldset class="">
                <textarea 
                    name="description" 
                    id="" 
                    cols="30" 
                    rows="10" 
                    placeholder="Descripción del producto" 
                    ><%= product.description %>
                </textarea>
            </fieldset>

            <!-- IMAGE -->
            <figure><img class='imageDetail' src="<%=product.image%>" alt=""></figure>
            <fieldset id="loadPicture">
                <label for="image">Fotos:</label>
                <input 
                    type="file" 
                    name="image" 
                    accept=".png, .jpg, .jpeg"
                >
            </fieldset>

            <!-- CATEGORY -->
            <fieldset class="">
                <label for="categoria">Categoría:</label>
                <select name="category">
                    <% for( let i = 0; i < category.length; i++ ) { %>
                        <% if (category[i].id_category == product.id_category) { %>
                            <option value="<%= category[i].id_category %>" selected>
                                <%= category[i].category  %> 
                            </option>
                        <% } else{ %>
                            <option value="<%= category[i].id_category %>">
                                <%= category[i].category  %> 
                            </option>
                            <% } %>
                    <% } %>
                </select>
            </fieldset>

            <!-- PRICE -->
            <fieldset class="">
                <input 
                    type="number" 
                    name="price" 
                    placeholder="Precio" 
                    value="<%= product.price %>"
                >
            </fieldset>

                <button type="submit" class="button">ENVIAR</button>
        </form>
    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('../includes/footer') %>

</body>
</html>