<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('../includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>

        <section class="boxFirst">
            <p><a href='/'>Inicio</a> <a href='/products'>/ Productos</a>
                <% if(category.category) {%> 
                    <a href='/products/<%= category.category %>'>/ <%= category.category %></a>
                <% }%> 
            </p> 
        </section>

        <section class="generalArticles">
            <% if(list.length > 0){ %>
                <% list.forEach(product => { %>

                <article class="articleMain">
                    <a href='/productDetail/<%= product.id_product %>'>
                        <figure><img class='image' src="<%= product.image%>" alt=""></figure>
                        <section class="box-article">
                            <p class="price">$<%= product.price %></p>
                            <p class="name"><%= product.name %></p>
                        </section>
                    </a>
                </article>

                <% }) %>
                <% }else{ %>
                    <h2>No se encontraron articulos que contengan "<%= locals.keyword ? keywords : null %>"</h2>
            <% } %>

        </section>

        <a id='newProduct' href='/productCreate'><i class="fas fa-plus"></i></a>
            
    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('../includes/footer') %>

</body>
</html>
