<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('../includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>

        <section class="boxFirst">
            <p><a href='/'>Inicio</a> / <a href='/products'>Productos</a> / <a href='/products/<%= product.category.category %>'><%= product.category.category %></a> / <%= product.name %></p>
        </section>

        <section class="boxDetail">


            <figure><img class='imageDetail' src='<%= product.image %>' alt=""></figure>
            
            <article class="boxDescription">

                <p class="name"><%= product.name %></p>
                <p class="price">$<%= product.price %></p>
                <p class="description"><%= product.description %></p>
                <p class="quotes">Hasta 3 cuotas sin interés</p>
                <p class="discount">Descuento por transferencia o pago en efectivo</p>  
                
                <button class="cartButton">Agregar al carrito</button>

                <%/*  if(isLogged && user.type == "admin"){ */ %> 
                <ul id="adminButtons">
                    <li><a href='/productEdit/<%= product.id_product %>'><i class="fas fa-edit iconAdmin"></i> Editar</a></li>
                    <form action="/productDelete/<%= product.id_product %>?_method=DELETE" method="post">
                        <li><button type="submit"><i class="fas fa-trash iconAdmin"></i> Borrar</button></li>
                    </form>
                </ul>
                <%/*  }  */%>  


            </article>

        </section>

    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('../includes/footer') %>

</body>
</html>