<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('../includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>
        <form action="/save" method="post" class="form" enctype ="multipart/form-data">
            <h2 id="title">Creación de productos</h2>

            <div class="errors">
                <ul></ul>
            </div>

            <!-- NAME -->
            <fieldset class="">
                <input 
                    type=text 
                    name="name" 
                    autofocus
                    placeholder="Nombre del producto"
                    class= '<%= locals.errors && errors.name ? 'inputError' : null %>'
                    value= '<%= locals.oldData ? oldData.name : null %>' 
                >
            </fieldset>

            <% if (locals.errors && errors.name) { %>
                <p class="feedbackError">
                    <%= errors.name.msg %> 
                </p>
            <% } %>

            <!-- DESCRIPTION -->
            <fieldset class="">
                <textarea 
                    name="description" 
                    id="" 
                    cols="30" 
                    rows="10" 
                    placeholder="Descripción del producto"
                    class= '<%= locals.errors && errors.description ? 'inputError' : null %>'
                ><%= locals.oldData ? oldData.description : null %></textarea>
            </fieldset>

            <% if (locals.errors && errors.description) { %>
                <p class="feedbackError">
                    <%= errors.description.msg %> 
                </p>
            <% } %>

            <!-- IMAGE -->
            <fieldset id="loadPicture">
                <label for="image">Fotos:</label>
                <input 
                    type="file" 
                    name="image" 
                    accept=".png, .jpg, .jpeg"
                    class= '<%= locals.errors && errors.image ? 'inputError' : null %>'
                    value= '<%= locals.oldData ? oldData.image : null%>'
                >
            </fieldset>

            <% if (locals.errors && errors.image) { %>
                <p class="feedbackError">
                    <%= errors.image.msg %> 
                </p>
            <% } %>

            <!-- CATEGORY -->
            <fieldset class="">
                <label for="categoria">Categoría:</label>
                <select name="category">
                    <% for( let i = 0; i < categories.length; i++ ) { %>
                        <option value="<%= categories[i].id_category %>">
                            <%= categories[i].category  %> 
                        </option>
                    <% } %>
                </select>
            </fieldset>

            <!-- PRICE -->
            <fieldset class="">
                <input 
                    type=number 
                    name="price" 
                    placeholder="Precio"
                    class= '<%= locals.errors && errors.price ? 'inputError' : null %>'
                    value= '<%= locals.oldData ? oldData.price : null %>'
                >
            </fieldset>

            <% if (locals.errors && errors.price) { %>
                <p class="feedbackError">
                    <%= errors.price.msg %> 
                </p>
            <% } %>

            <!-- QUANTITY -->
            <fieldset class="">
                <input 
                    type=number 
                    name="quantity" 
                    placeholder="Cantidad"
                    class= '<%= locals.errors && errors.quantity ? 'inputError' : null %>'
                    value= '<%= locals.oldData ? oldData.quantity : null %>'
                >
            </fieldset>

            <% if (locals.errors && errors.quantity) { %>
                <p class="feedbackError">
                    <%= errors.quantity.msg %> 
                </p>
            <% } %>

            <!-- BUTTON -->
            <fieldset>
                <button type="submit" name="save" class="button">ENVIAR</button>
            </fieldset>
            
        </form>
    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('../includes/footer') %>
    <script src="/js/validationProductCreate.js"></script>
</body>
</html>