<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/shopCart.css">
    
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('../includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>

        <h2>Carrito de compras</h2>
        
        <% if (shopCart.length > 0) { %>
            <% shopCart.forEach(item => { %>
                <section class="product">
                    
                    <figure>
                        <img class='imageCart' src="<%= item.product.image %>" alt="">
                    </figure>

                    <a href='/productDetail/<%= item.product.id_product %>'>
                        <p class="name"><%= item.product.name  %> </p>
                    </a>

                    <form action="/updateCart/<%= item.id_shop %>" method="post" class='quantityForm'>

                        <section class= "quantity">
                            <label for="quantity">Cantidad:</label>
                            <input class="quantity" data-product='<%= item.product.name %>' value="<%= item.quantity %>" type="number" name="quantity" min="1">
                            <input type="hidden" name="product" value="<%= item.product.id_product %>">
                        </section>

                        <% if (locals.errors && errors.quantity && (productError==item.product.id_product)) { %>
                            <p class="feedbackError">
                                <%= errors.quantity.msg %> 
                            </p>
                        <% } %> 

                    </form>
                    
                    
                    <form action="/deleteCart/<%= item.id_shop %>?_method=DELETE" method="post">
                        <button type="submit"><i class="fas fa-trash buttonTrash"></i></button>
                    </form>

                    <p class="price">$<%= Math.round(item.product.price*item.quantity)  %></p>
        
                </section>
            <% }) %> 
        <% }else{%>
            <h2>Carrito vacio</h2>
        <% } %> 

        <section class="boxSubtotal">
            <p class="title">SUBTOTAL (sin envío):</p><p class="price">    $<%= Math.round(totalPrice) %> </p>
        </section>

        <!-- <section class="boxEnvio">

            <article class="articleEnvio">
                <p>Retiro en el local (SIN COSTO) ó seleccioná la forma de envío <i class="fas fa-truck"></i></p>
            </article>

            <article class="postalButton">
                <input type="text" placeholder="Ingresá tu codigo postal" class="cantidad"><button class="cantidad">Calcular</button> 
            </article>


            <article class="boxTotal">
                <h5>Total $850 ó hasta 3 cuotas sin interés de $283.33</h5>
            </article>

        
        </section> -->

        <form action="/shopCart/buy" method="POST" class="buy">
            <button type="submit" class="buyButton">COMPRAR</button>
        </form>

    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('../includes/footer') %>
    <script src="/js/shopCart.js"></script>

</body>
</html>