<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/productCart.css">
    
</head>
<body>
    <!---------------------------------------- HEADER ---------------------------------------->
    <%- include('../includes/header') %>

    <!---------------------------------------- MAIN ---------------------------------------->
    <main>

        <h2>Carrito de compras</h2>
        
        <% if (shopCart.length > 0) { %>
            <% shopCart.forEach(item => { %>
                <section class="product">

                    <figure>
                        <img class='imageCart' src="<%= item.product.image %>" alt="">
                    </figure>
        
                    <p class="name"><%= item.product.name  %> </p>
                    
                    <section class= "quantity">
                        <label for="quantity">Cantidad:</label>
                        <input class="quantity" value="<%= item.quantity %>" type="number" name="quantity" min="1">
                    </section>
        
                    <form action="/deleteCart/<%= item.id_shop %>?_method=DELETE" method="post">
                        <button type="submit"><i class="fas fa-trash buttonTrash"></i></button>
                    </form>

                    <p class="price">$<%= Math.round(item.product.price*item.quantity)  %></p>
        
                </section>
            <% }) %> 
        <% }else{%>
            <h2>Carrito vacio</h2>
        <% } %> 

    
            <% for( let i = 0; i < shopCart.length; i++ ) { 
                var subtotal = 0;
                subtotal + shopCart[i].product.price;
            }%>

        <section class="boxSubtotal">
            <h4>SUBTOTAL (sin envío)</h4><p class="price"><%= subtotal %> </p>
        </section>

        <section class="boxEnvio">

            <article class="articleEnvio">
                <p>Retiro en el local (SIN COSTO) ó seleccioná la forma de envío <i class="fas fa-truck"></i></p>
            </article>

            <article class="postalButton">
                <input type="text" placeholder="Ingresá tu codigo postal" class="cantidad"><button class="cantidad">Calcular</button> 
            </article>


            <article class="boxTotal">
                <h5>Total $850 ó hasta 3 cuotas sin interés de $283.33</h5>
            </article>

        
        </section>

        <section class="buy">
            <button type="submit" class="buyButton">COMPRAR</button>
        </section>
    
    </main>

    <!---------------------------------------- FOOTER ---------------------------------------->
    <%- include('../includes/footer') %>

</body>
</html>